ebpf*.o
ebpf.skel.h
/udpgrm
/arch/
*.deb
examples/venv
/tests/__pycache__/
*gcda
*gcno
*ll
*obj
udpgrm-test
/cov_html/
cov_verifier_html
mmdecoy
/target/
*profraw
LLVM*
vhost/
node_modules/
crates/udpgrm/target
tqserver
client
bpftool-log.tmp
ebpf.su
cov.info